@import url(../css/normalize.css);

:root {
--main-font-family: "Martian Mono";
--second-font-family: "Inter";
--main-fs: 6.2rem;
--second-fs: 2rem;
--third-fs: 1.4rem;
--fourth-fs: 5rem;
--fifth-fs: 1.8rem;
--sixth-fs: 2.4rem;
--seventh-fs: 3.4rem;
--main-lh: 1.1;
--second-lh: 1.2;
--third-lh: 1.3;
--fourth-lh: 1.4;
--main-color:  rgba(56, 81, 89, 1);
--second-color:  rgba(6, 38, 48, 1);
--third-color: rgba(250, 245, 243, 1);
--main-background-color:  rgba(250, 245, 243, 1);
--main-fw: 600;
--second-fw: 400;
--third-fw: 700;
}

@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/martian-mono-v3-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/martian-mono-v3-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/martian-mono-v3-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-latin-600.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

img {
  display: flex;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 1200px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--main-background-color);
}

.header {
  padding-top: 3.2rem;
  padding-bottom: 12.3rem;
  background-image: url(../images/bg-pattern.png), linear-gradient(120deg, transparent 80%, #9cc9da);
  background-color: var(--main-background-color);
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

site-explanation {
  flex-direction: column;
}

.header-text {
  font-family: var(--main-font-family);
  font-size: var(--main-fs);
  font-weight: var(--third-fw);
  line-height: var(--second-lh);
  letter-spacing: -2px;
  background: linear-gradient(107.24deg, #FEA36F -11.37%, #062630 61.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-description {
  font-family: var(--second-font-family);
  font-size: var(--second-fs);
  font-weight: var(--second-fw);
  line-height: var(--fourth-lh);
  letter-spacing: -0.5px;
  color: var(--main-color);
  margin-bottom: 3.2rem;
}

.header-btn {
  margin-bottom: 2rem;
  margin-top: 3.2rem;
}

.site-recommends {
  display: flex;
}

.recommendations {
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
}

.site-content {
  font-family: var(--main-font-family);
  font-size: var(--third-fs);
  font-weight: var(--second-fw);
  line-height: var(--second-fs);
  letter-spacing: -1px;
  color: var(--main-color);
}

.hero {
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: var(--main-background-color);
  color: var(--second-color);
}
.hero-container {
  display: flex;
  align-items: center;
}

.hero-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-text {
  font-family: var(--main-font-family);
  font-size: var(--fourth-fs);
  font-weight: var(--main-fw);
  line-height: var(--third-lh);
  letter-spacing: -2px;
  margin-left: 8rem;
  color: var(--second-color);
}
.hero-list {
  display: flex;
  flex-direction: column;
}

.hero-list-item {
  display: flex;
  margin-bottom: 2.4rem;
}
.hero-logo {
  color: var(--main-color);
  margin-left: 8rem;
}
.hero-description {
  font-family: var(--second-font-family);
  font-size: var(--second-fs);
  font-weight: var(--second-fw);
  line-height: var(--fourth-lh);
  letter-spacing: -0.5px;
  color: var(--main-color);
  margin-left: 1.4rem;
}

.features {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--main-background-color);
}

.features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-paragraph {
  display: flex;
  flex-direction: column;
  width: 530px;
}

.features-text {
  font-family: var(--main-font-family);
  font-size: var(--fourth-fs);
  font-weight: var(--main-fw);
  line-height: var(--third-lh);
  letter-spacing: -2px;
  color: var(--fifth-fs);
}
.features-content {
  font-family: var(--second-font-family);
  font-size: var(--second-fs);
  font-weight: var(--second-fw);
  line-height: var(--fourth-lh);
  letter-spacing: -0.5px;
  margin-top: 2rem;
  color: var(--main-color);
}

.features-logo {
  background-position:
   margin-bottom: 100rem;
  margin-left: 68rem;
  margin-right: 53rem;
  margin-top: -15rem;
  
}

.highlight {
  display: inline-block;
  position: relative;
}

.highlight::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1.5em;
  border: 2px solid orange;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.journey {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url(../images/bg-pattern.png), linear-gradient(120deg, transparent 80%, #9cc9da);
  background-color: var(--main-background-color);
}
.journey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1170px;
}

.journey-text {
  font-family: var(--main-font-family);
  font-size: var(--fourth-fs);
  font-weight: var(--main-fw);
  line-height: var(--second-lh);
  letter-spacing: -0.04em;
  text-align: center;
  color:  var(--second-color);
  margin-bottom: 4rem;
}
.journey-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}


.journey-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.journey-image {
  margin-bottom: 2rem;
}
.journey-content {
  font-family: var(--main-font-family);
font-size: var(--fifth-fs);
font-weight: var(--main-fw);
line-height: var(--third-lh);
letter-spacing: -0.01em;
color: var(--second-color);

}

.options {
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: var(--main-background-color);
  color: var(--second-color);
  

}
.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 970px;
}

.options-content {
font-family: var(--main-font-family);
font-size: var(--fourth-fs);
font-weight: var(--main-fw);
line-height: var(--second-lh);
letter-spacing: -2px;


}
.options-descriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}
.options-paragraph {
  border: 1px solid rgba(230, 225, 223, 1);
  border-radius: 8px;
  width: 286px;
  height: 385px;
  align-items: center;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.options-paragraph-bold {
  width: 350px;
  height: 390px;
  border: 1px solid rgba(230, 225, 223, 1);
  border-radius: 8px;
  align-items: center;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background-color: var(--main-background-color);
  background-image: url(../images/bg-pattern.png), linear-gradient(120deg, transparent 80%, #9cc9da);
}
.option-text {
font-family: var(--main-font-family);
font-size: var(--sixth-fs);
font-weight: var(--main-fw);
line-height: var(--main-lh);
letter-spacing: -1px;
padding-top: 2.4rem;

}
.option-decsription {
font-family: var(--second-font-family);
font-size: var(--second-fs);
font-weight: var(--second-fw);
line-height: var(--fourth-lh);
letter-spacing: -0.5px;
color: var(--main-color);
padding-top: 2.4rem;

}

.bold {
  font-family: var(--main-font-family);
font-size: var(--seventh-fs);
font-weight: var(--main-fw);
line-height: var(--third-lh);
letter-spacing: -1px;
}
.options-list {
  padding-top: 4.9rem;
  
}
.options-list-item {
  display: flex;
  align-items: center;
}
.options-logo {
  margin-right: 1rem;
  margin-bottom: 1.8rem;
}
.options-item {
  font-family: var(--second-font-family);
font-size: var(--second-fs);
font-weight: var(--second-fw);
line-height: var(--fourth-lh);
letter-spacing: -0.5px;
color: var(--main-color);

}
.options-btn {
  padding-top: 3.2rem;
}


.bold-text {
font-family: var(--main-font-family);
font-size: var(--seventh-fs);
font-weight: var(--main-fw);
line-height: var(--third-lh);
letter-spacing: -1px;

}

.concept {
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: var(--main-background-color);
  color: var(--second-color);
}
.concept-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 990px;
}

.concept-text {
font-family: var(--main-font-family);
font-size: var(--seventh-fs);
font-weight: var(--main-fw);
line-height: var(--third-lh);
letter-spacing: -1px;
text-align: center;
margin-top: 3.2rem;

}
.concept-content {
font-family: var(--second-font-family);
font-size: var(--second-fs);
font-weight: var(--second-fw);
line-height: var(--fourth-lh);
letter-spacing: -0.5px;
margin-top: 3.2rem;
color: var(--main-color);

}

.footer {
  padding-top: 20rem;
  padding-bottom: 20rem;
  color: var(--third-color);
  background-color: var(--second-color);
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-concept {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text {
  text-align: center;
font-family: var(--main-font-family);
font-size: var(--fourth-fs);
font-weight: var(--main-fw);
line-height: var(--second-lh);
letter-spacing: -2px;

}


.people-image {
  text-align: center;
}
.recommendations {
  text-align: center;
  flex-direction: column;
}
.header-stars {
text-align: center;
}
footer-site-content {
 color:  var(--third-color);
font-family: var(--main-font-family);
font-size: var(--third-fs);
font-weight: var(--second-fw);
line-height: var(--second-lh);
letter-spacing: -1px;

}
.footer-recommendations {
display: flex;
flex-direction: row;

}
.footer-image {
  background-position: bottom left;
}
.social-media {
  background-position: bottom right;
}
